html {
	overflow: auto;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #4c4c4c;
}

.page-wrapper {
	height: auto;
}

.main-wrapper {
	position: relative;
	max-width: 1400px;
	width: auto;
	margin: auto;
}

.content-wrapper {
	position: relative;
	max-width: 1230px;
	width: auto;
	margin: auto;
}

.main-content {
	background: #f6f6f6;
}

/* ------------------------------------------------------------------------- */


h1 {
	font-size: 28px;
	margin: 0 0 1.5em;
}

h2 {
	font-size: 23px;
	text-align: center;
	margin: 0 0 1.5em;
}

h3 {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin: 0 0 1.5em;
}

h4 {
	font-size: 19px;
	text-align: center;
	font-weight: bold;
	margin: 0 0 1.5em;
}

h5 {
	font-size: 16px;
	text-align: center;
	margin: 0 0 1.5em;
}

ul, li {
	font-size: 15px;
	line-height: 1.7;
}

a {
	font-size: 14px;
	color: #6b6b6b;
}

.sup {
	display: inline-block;
	font-size: 50%;
	vertical-align: top;
	text-transform: uppercase;
	padding-top: 4px;
	/* color: red; */
}


/* @media (max-width: 1000px) {
	h1 {
		font-size: 76px;
	}
}

@media (max-width: 700px) {
	h1 {
		font-size: 65px;
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 40px;
	}
} */



/* ------------------------------------------------------------------------- */

.header {
	width: auto;
	max-width: 1920px;
	padding: 28px 1%;
	margin: 0 auto;
	background: #ffffff;
	text-align: center;
}

.header .logo {
	/* display: block;
	float: left; */
}

.header .info {
	float: right;
}

.header .phone {
	font-size: 17px;
	font-weight: bold;
	color: #1988bf;
}

.header .btn_chat {
	background: #ffffff;
	border: none;
	text-transform: capitalize;
	font-size: 15px;
	font-weight: bold;
	color: #414141;
}


/* ------------------------------------------------------------------------- */

.main-menu {
	width: 100%;
	padding: 7px 0;
	text-align: center;
	color: #838383;
	font-size: 12px;
	white-space: nowrap
}

.main-menu .menu-list {
	margin: 0;
	padding: 0;
}

.main-menu .menu-item {
	display: inline-block;
	position: relative;
	border: 1px solid #e2e2e2;
	border-right: none;
	background: #fff;
	margin: 0 21px 0 21px;
	height: 56px;
	line-height: 56px;
	box-sizing: border-box;
}

.main-menu .menu-item::before {
	content: "";
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: -2px;
    box-sizing: border-box;
    width: 0;
    height: 0;
    border-top: 29px solid transparent;
    border-left: 33px solid #f6f6f6;
    border-bottom: 29px solid transparent;
	border-radius: 5px;
	z-index: 1;
}

.main-menu .menu-item::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 42px;
    height: 42px;
    bottom: 6px;
    right: -20px;
    box-sizing: border-box;
	background: #ffffff;
    transform: rotate(-45deg);
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    border-top: none;
	border-left: none;
	z-index: 1;
}


.main-menu .menu-item:hover,
.main-menu .menu-item.active,
/* .main-menu .menu-item:hover::before,
.main-menu .menu-item.active::before, */
.main-menu .menu-item:hover::after,
.main-menu .menu-item.active::after  {
	border-color: #53949a;
	color: #6799b2;
}

.main-menu a {
	display: block;
	height: 100%;
	padding: 0 18px;
	color: inherit;
	font-size: 15px;
	text-decoration: none;
	z-index: 10;
    position: relative;
}



/* @media (max-width: 600px) {
	.main-menu {
		font-size: 16px;
	}

	.main-menu .menu-item {
		height: 30px;
		line-height: 30px;
	}
} */

/* ------------------------------------------------------------------------- */

.section-choose-plan {
	padding: 20px 0;
}

.section-choose-plan .choose-plan-list {
	-webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    text-align: center;
	/* max-width: 1230px; */
	width: 100%;
    margin: 100px auto 0 auto;
}

.section-choose-plan .item-plan {
	position: relative;
	margin: 0 2px;
	width: 25%;
	/* max-width: 300px; */
}

.section-choose-plan .item-plan .wrap {
	position: relative;
    background: #f6f6f6;
	width: 100%;
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 5px;
}
.section-choose-plan .item-plan .wrap:hover {
	background: #fff;
}

.section-choose-plan .item-plan.popular::before {
    content: "Most popular";
    position: absolute;
    width: 100%;
	height: 58px;
	top: -55px;
    left: 0;
    background: #ff860b;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
	font-weight: bold;
	
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

/* .section-choose-plan .item-plan.popular .wrap::after {
	content: "";
	display: inline-block;
    position: absolute;
    width: 100%;
	height: 10px;
	top: 0;
	left: 0;
	box-sizing: border-box;
    background: #f6f6f6;
	border-radius: 5px 5px 0 0;
	border: 1px solid #d2d2d2;
	border-bottom: none;
}

.section-choose-plan .item-plan .wrap:hover::after {
	background: #fff;
} */

.section-choose-plan .conditions-list {
	min-height: 300px;
	text-align: left;
}

.section-choose-plan .conditions-item {
	position: relative;
	margin-bottom: 15px;
	margin-left: 35px;
	margin-right: 20px;
}

.section-choose-plan .conditions-item::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #d6793c;
    border-radius: 50%;
    top: 9px;
    left: -15px;
}

.section-choose-plan .btn-select {
	display: inline-block;
	text-decoration: underline;
}

.section-choose-plan .btn-select:hover {
	text-decoration: none;
}

.section-choose-plan .plan-naame {
	padding: 10px 0;
	border-bottom: 1px solid #d6d6d6;
}

.section-choose-plan h4 {
	padding-top: 10px;
	border-top: 1px solid #d6d6d6;
}

.section-choose-plan .price {
	padding-bottom: 10px;
	border-bottom: 1px solid #d6d6d6;
}

.section-choose-plan .price .sum {
	/* font-weight: bold; */
}

@media (max-width: 1000px) {
	/* .features {
		font-size: 24px;
	} */
}

@media (max-width: 700px) {
	
}



/* Footer
----------------------------------------------------------------------------- */

.footer {
	box-sizing: border-box;
	margin: 0 auto;
	padding-top: 36px;
	background: #595959;
	position: relative;
}

.footer h3,
.footer h4 {
	color: #fff;
}

.footer .phone-services {
	vertical-align: top;
	/* max-width: 1100px;
	width: 100%; */
	/* padding: 15px 0;
	border-top: 2px solid #b0b0b0; */
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.footer .phone-services .phone-services-list {
	margin: 0;
	padding-left: 15px;
	max-width: 370px;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 0;
	border-top: 2px solid #b0b0b0;
}

.footer .phone-services .service-item {
	vertical-align: middle;
	margin-right: 22px;
	margin-bottom: 20px;

	display: -webkit-flex; 
	display: flex; 
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-startn;
	justify-content: flex-start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}

.footer .phone-services img {
	align-items: flex-start;
}
.footer .phone-services a {
	color: #fff;
	padding-top: 5px;
}

.footer .legal {
	font-size: 12px;
	color: #89a8ba;
	background: #fff;
	padding: 20px 0 45px 0;
	text-align: center;
	border-top: 1px solid #4e4e4e;
}

.footer .legal a {
	color: #89a8ba;
}

@media (max-width: 870px) {

}

@media (max-width: 670px) {

}

@media (max-width: 400px) {

}



/*********************************************/

.checkbox-wrap {
	margin: 27px auto 17px auto;
}

.round {
	position: relative;
	display: inline-block;
}
  
.round > label {
	position: absolute;
	background-color: #fff;
	height: 28px;
	width: 28px;
	top: 0;
	left: 0;
	border: 2px solid #0685bc;
	border-radius: 50%;

	box-sizing: border-box;
	cursor: pointer;

}

.round > label::after {
	content: "";
	display: inline-block;
	position: absolute;
	height: 16px;
	width: 16px;
	top: 4px;
	left: 4px;
	background: #0685bc;
	border-radius: 50%;
	opacity: 0;
}

.round > input[type="checkbox"] {
	visibility: hidden;
}

.round > input[type="checkbox"]:checked + label::after {
	opacity: 1;
}
